.h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
.h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}
.h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
.h4 {
	margin: 1.33em 0;
}
.main {
	background: url(https://images.unsplash.com/photo-1458053688450-eef5d21d43b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8d815ef30a5abbb17a9f634bc58c5e6e) no-repeat;
	background-size: cover;
}
.masthead {
	/*background-color: #000000;*/
}
.header {
	/*background: url('../images/marquee-sm.jpg') no-repeat;*/
	/*background-position: center;*/
	height: 250px;
	width: 650px;
	margin: 0 auto;
	text-align: center;
}
.header h1 {
	/*display: none;*/
	font-family: CodyStar, fantasy, sans-serif;;
	font-size: 64px;
	color: #ccc;
	margin-top: 0;
	padding-top: 1.33em;
}
.marquee-sm {
	margin: 0 auto;
	-webkit-filter: drop-shadow(0px 0px 20px red);
}
.content {
	width: 350px;
	height: 350px;
	margin: 0 auto;
	background-color: rgba(85, 85, 85, 0.6);
	padding-top: 7px;
	padding-left: 25px;
	font-family: Lato, sans-serif;
	color: #eee;
}
.answer {
	margin-left: 20px;
	margin-bottom: 10px;
}
input[type="radio"] {
	display:none;
}
input[type="radio"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	cursor:pointer;
	-moz-border-radius:  50%;
	border-radius:  50%;
	background-color: #fff;
}
input[type="radio"]:checked + label span{
	 background-color: #A60822;
}
.submitButton {
	margin-left: -25px;
	text-align: center;
}
.button {
	width: 200px;
	margin: 30px auto;
	border-radius: 0.5em;
	color: #000;
}
.footer {
	height: 100px;
	background-color: #000;
	padding: 0 20px;
	font-family: Lato, sans-serif;
	color: #ccc;
}
.footerContent {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}
.correct, .count, .resetButton {
	width: 33%;
	/*float: left;*/
	text-align: center;
}
.correct {
	/*float: left;*/
	text-align: left;
}
.resetButton button {
	width: 100%;
	max-width: 200px;
	margin: 1.1em 0;
}
.count {
	/*float: right;*/
	text-align: right;
}

/**** Media queries for larger screens ****/
@media screen and (min-width: 768px) {
	.answerGroup {
		text-align: left;
		width: 65%;
		margin: 0 auto;
	}
	.footerContent {
		width: 50%;
		margin: 0 auto;
	}
}
